/*stylesheet for welcome.html*/

img {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 100px;
}

h2 {
    color: tomato;
    text-decoration: underline;
    text-align: center;
}

body {
    background-color: antiquewhite;
    background-image: url("../img/retro.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: ghostwhite;
    font-family: 'Press Start 2P', cursive;
    cursor: crosshair;
}

li {
    list-style: none;
    text-align: center;
}

table, th, td {
    border: 1px solid whitesmoke;
}

table {
    width: 100px;
    border-collapse: collapse;
    margin: 0px auto;
}

th {
    height: 50px;
    text-align: center;
}

td {
    height: 20px;
    text-align: left;
}

a:hover{
    color: greenyellow;
}

a:active {
    color: red;
}

a {
    color: teal;
}

footer {
    text-align: center;
}

.fancy-header {

    color: tomato; /* single line comment */
    text-decoration: underline;
    text-align: center;
}

.margin {
    margin-left: 435px;
}

p {
    text-align: center;
}
